<ul class="nav navbar-nav navbar-right">
    <li><a href="@Url.Action("Index","Home")" title="About">Trang chủ</a></li>
    <li><a href="@Url.Action("Index","Phong")" title="About">Phòng</a></li>
    <li><a href="@Url.Action("Index","Reservation")" title="About">Đặt Phòng</a></li>
    <li><a href="@Url.Action("ConmmingSoon","Home")" title="About">Sự kiện sắp tới</a></li>
    <li><a href="@Url.Action("About","Home")" title="About">Giới thiệu</a></li>
    <li><a href="@Url.Action("Contact","Home")" title="Contact">Liên hệ</a></li>
</ul>