@model IEnumerable<QLPhongKhachSan.Models.DatPhong>

@{
    ViewBag.Title = "ĐƠN ĐẶT PHÒNG";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<br />
<h2>@ViewBag.Title</h2>
<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Phòng
            </th>
            <th>
                Thời gian
            </th>
            <th>
                Họ tên
            </th>
            <th>
                SDT
            </th>
            <th>
                Email
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Phong.TenPhong)
                    - @item.SoNguoi người
                    - @item.SoNgay ngày
                </td>
                <td>
                    @(item.TuNgay?.ToString("yyyy-MM-dd")) => @(item.DenNgay?.ToString("yyyy-MM-dd"))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @switch (item.TrangThai)
                    {
                        case "Vetified":
                            <span onclick="oke('@item.IDDatPhong',true)" class="btn btn-primary">Nhận phòng</span>
                            <span onclick="oke('@item.IDDatPhong',false)" class="btn btn-primary">Hủy bỏ</span>
                            break;
                        case "0":
                            <label class="label label-default">Hủy bỏ</label>
                            <p>@(item.XuLiLuc?.ToString("hh:mm dd/MM/yyyy")) - @(item.TaiKhoan?.FullName)</p>
                            break;
                        default:
                            <label class="label label-success">Nhận phòng</label>
                            <p>@(item.XuLiLuc?.ToString("hh:mm dd/MM/yyyy")) - @(item.TaiKhoan?.FullName)</p>
                            break;
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function oke(id, status) {
        if (confirm("Bạn đã xử lí đơn này?")) {
            $.ajax({
                url: '@Url.Action("Success")',
                type: 'POST',
                data: { id: id, status: status},
                success: function (d) {
                    if (d) {
                        window.location.reload();
                    } else {
                        alert("Thất bại");
                    }
                }
            });
        }
    }
</script>
<link href="~/Content/theme/dist/css/sb-admin-2.min.css" rel="stylesheet" />
<link href="~/Content/theme/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet" />
<link href="~/Content/theme/vendor/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script src="~/Content/theme/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/Content/theme/vendor/datatables/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('table').DataTable({
            "pageLength": 25
        });
    });
</script>